@charset "utf-8";
/*************************************
* 文件名称：border.css
* 作   者：界面设计制作部
* 创建日期：2009-4-1
* 最后修改：name/ 第X行 / yyyy-mm-dd
* 文件版本：UI CSS Frameworks Beta
* 内容概要:装饰器样式
*************************************/
/** 全局样式 **/
.border_42{padding:0;position: relative;text-align:left;width:100%;}
/** 头部 **/
.border_42 .border_42-topr {
	background:url(/images/message_ttbg.jpg) repeat-x; height:30px; line-height:30px;
	background-repeat: no-repeat;
	background-position: right top;
}





.border_42 .border_42-topl {
	background:url(/images/message_ttbg.jpg) repeat-x; height:30px; line-height:30px;
}
/** 中部 **/
.border_42 .border_42-midr {
	background:url(/borders/border_42/images/border-midr.gif) right top repeat-y;
}
.border_42 .border_42-midl {
	background:url(/borders/border_42/images/border-midl.gif) left top repeat-y;
	width:100%;
	
}
.border_42 .borderContent {
	padding:10px;
}
/** 底部 **/
.border_42 .border_42-footerr {
	background:url(/borders/border_42/images/border-footerr.gif) right bottom no-repeat;
	height:6px;
	font-size:0;
 display:none;
}
.border_42 .border_42-footerl {
	background:url(/borders/border_42/images/border-footerl.gif) left bottom no-repeat;
	height:6px;
	font-size:0;
	 display:none;
}
/*装饰器的标题*/  
.border_42 .comptitle_42 {
	height:25px;
	position: absolute;
	left: 7px;
	top: 7px;
	width:98%;
}
.border_42 .comptitle_42 strong{
	font-weight:bold;
	float:left;
	margin-left:5px;
	font-style:normal;
	text-decoration:none;
	
	width:45%;
	word-break:break-all;
	text-align:left;
}
.border_42 .comptitle_42 .titlestyle_42{
	font-weight:bold;
	color:#000;
}
.border_42 .comptitle_42 strong img {
	vertical-align: middle;
	margin-right: 5px;
	width:20px;
	height:20px;
}
.border_42 .comptitle_42 em {
	font-style: normal;
	float: right;
	font-weight: normal;
	margin-right: 10px;
}
/* 扩展链接 */
.border_42 .comptitle_42 em span.extendLink{
	text-align: right;
	font-size:12px;
	margin-right: 8px;
}
.border_42 .comptitle_42 em span.moreLink{
	font-style: normal;
	font-weight: normal;
}
/* 更多 */
.border_42 .compmore_42 {
	clear: both;
	text-align: right;
	font-size:12px;
	margin-right: 10px;/*text-align: left;*/
}
/* 扩展链接 */
.border_42 .compmore_42 .extendLink{
	text-align: right;
	font-size:12px;
	margin-right: 10px;
}
.border_42 .compmore_42 .moreLink{
	font-style: normal;
	font-weight: normal;
}
