@charset "utf-8";
body{
}
a:link{
}
a:visited{
}
a:hover{
}
a:active{
}
.pageWidth{
	width:1440px;
}




#elem-FrontSpecifies_show01-1374222996998{position:absolute;top:147px;left:6px;height:20px;width:1136px;z-index:999999}