@charset "utf-8";
/** 全局样式 **/
.FrontNews_list01-d1_c1_01 {
	width:98%;
	margin:0 auto;
	clear:both;
	text-align:left;
}
.FrontNews_list01-d1_c1_01 .content {
	float:left;
	overflow:hidden;
}
.FrontNews_list01-d1_c1_01 .more {
	width:100%;
	overflow:hidden;
	text-align:right;
}
/* 链接样式 */

.FrontNews_list01-d1_c1_01 a:link {
/* color:#0066cc;
	text-decoration:none; */
}
.FrontNews_list01-d1_c1_01 a:visited {
/* color:#0066cc;
	text-decoration:none; */
}
.FrontNews_list01-d1_c1_01 a:hover {
/* color:#0066cc;
	text-decoration:underline; */
}
.FrontNews_list01-d1_c1_01 a:active {
/*color:#06c;*/
}
/** 内容样式 **/

/** 标题区域 **/
.FrontNews_list01-d1_c1_01 .newstitle {
	width:100%;
	overflow:hidden;
}
.FrontNews_list01-d1_c1_01 .newstitle ul {
	width:100%;
	clear:both;
}


#FrontNews_list01-1373356106254 .FrontNews_list01-d1_c1_01 .newstitle {
	width:100%;
	clear:both;
}
.FrontNews_list01-d1_c1_01 .newstitle li {
	float:left;
	padding-right:15px;
	text-align:left;
}
.FrontNews_list01-d1_c1_01 .newstitle li h3 {
	display:inline;
	color:#000;
	font-size:12px;
	font-weight:bold;
	padding-left:12px;
	background:url(/images/news/icon-09.gif) 0 0 no-repeat;
}
.FrontNews_list01-d1_c1_01 .newstitle li span {
	color:#999;
}
.FrontNews_list01-d1_c1_01 .newstitle li em {
	font-style:normal;
}
.FrontNews_list01-d1_c1_01 .newstitle .fontnews a {
	color:#06c;
}
.FrontNews_list01-d1_c1_01 .newstitle .author {
	padding-left:13px;
}
.FrontNews_list01-d1_c1_01 .newstitle .comment {
	padding-left:20px;
	background:url(/images/news/icon-04.gif) 0 0px no-repeat;
	background:url(/images/news/icon-04.gif) 0 4px no-repeat\9;
}
.FrontNews_list01-d1_c1_01 .newstitle .linkarea {
	float:left;
	_padding-top:3px;
}
/** 内容列表区域 **/

.FrontNews_list01-d1_c1_01 .newslist ul {
	width:100%;
	overflow:hidden;
}
.FrontNews_list01-d1_c1_01 li.clearBoth {
	line-height:0;
	font-size:0;
}
.FrontNews_list01-d1_c1_01 .newslist .pic {
	width:140px; /*根据图片大小调整*/
	float:left;
}
.FrontNews_list01-d1_c1_01 .newslist .pic a {
	float:left;/*padding:4px;
	border:1px solid #d7d7d7;*/
}
.FrontNews_list01-d1_c1_01 .newslist .pic a:hover {
/*border:1px solid #F60;
	background:#fff4ce;*/
}
.FrontNews_list01-d1_c1_01 .newslist .pic img {
	width:120px;
	height:90px;
}
.FrontNews_list01-d1_c1_01 .newslist .summary {
	float:none;
}
.FrontNews_list01-d1_c1_01 .newslist .summary h3 {
	font-size:12px;
	font-weight:bold;
	line-height:22px;
}
.FrontNews_list01-d1_c1_01 .newslist .summary p {
	line-height:20px;
}
.FrontNews_list01-d1_c1_01 .newslist .summary a {
	margin-left:5px;
}
/**分割线**/
.FrontNews_list01-d1_c1_01 .showLine {
	float:left;
	height:10px;
	width:100%;
	border:0;
	background:url(/images/news/line-01.gif) 0 50% repeat-x;
}
.FrontNews_list01-d1_c1_01 .comstyle {
	width:100%;
	overflow:hidden;
}
.FrontNews_list01-d1_c1_01 .clearBoth {
	clear:both;
	height:1px;
	line-height:1px;
}
/* -----滚动样式----------------------------------------------------------------------- */
	/* navigation */
.FrontNews_list01-d1_c1_01 .scrollnavi {
	width: 200px;
	height: 20px;
}

.FrontNews_list01-d1_c1_01 .scrollnavi a {
	width: 8px;
	height: 8px;
	float: left;
	margin: 3px;
	background: url(/images/news/navigator.png) 0 0 no-repeat;
	display: block;
	font-size: 1px;
}

.FrontNews_list01-d1_c1_01 .scrollnavi a:hover {
	background-position: 0 -8px;
}

.FrontNews_list01-d1_c1_01 .scrollnavi a.active {
	background-position: 0 -16px;
}

/* buttons */
.FrontNews_list01-d1_c1_01 a.scrollbrowse {
	background: url(/images/news/hori_large.png) no-repeat;
	display: block;
	width: 30px;
	height: 30px;
	margin: 40px 10px;
	cursor: pointer;
	font-size: 1px;
}

.FrontNews_list01-d1_c1_01 a.scrollright {
	background-position: 0 -30px;
	margin-right: 0px;
	float:left;
}

.FrontNews_list01-d1_c1_01 a.scrollright:hover {
	background-position: -30px -30px;
}

.FrontNews_list01-d1_c1_01 a.scrollright:active {
	background-position: -60px -30px;
}

.FrontNews_list01-d1_c1_01 a.scrollleft {
	margin-left: 0px;
	float:left;
}

.FrontNews_list01-d1_c1_01 a.scrollleft:hover {
	background-position: -30px 0;
}

.FrontNews_list01-d1_c1_01 a.scrollleft:active {
	background-position: -60px 0;
}

.FrontNews_list01-d1_c1_01 a.scrollup,.FrontNews_list01-d1_c1_01 a.scrolldown {
	background: url(/images/news/vert_large.png) no-repeat;
	float: none;
	margin: 10px 50px;
}

.FrontNews_list01-d1_c1_01 a.scrollup:hover {
	background-position: -30px 0;
}

.FrontNews_list01-d1_c1_01 a.scrollup:active {
	background-position: -60px 0;
}

.FrontNews_list01-d1_c1_01 a.scrolldown {
	background-position: 0 -30px;
	clear:both;
	float:left;
}

.FrontNews_list01-d1_c1_01 a.scrolldown:hover {
	background-position: -30px -30px;
}

.FrontNews_list01-d1_c1_01 a.scrolldown:active {
	background-position: -60px -30px;
}

.FrontNews_list01-d1_c1_01 .scrollable {
	position: relative;
	overflow: hidden;
	float:left;
	/**width: 410px;**/
	height: 120px;
	width:575px;
}

.FrontNews_list01-d1_c1_01 .scrollitems {
	width: 20000px;
	position: absolute;
	clear: both;
}

.FrontNews_list01-d1_c1_01 .scrollable_vertical {
	position: relative;
	overflow: hidden;
	width: 575px;
	height: 120px;
}

.FrontNews_list01-d1_c1_01 .scrollitems_vertical {
	height: 2000px;
	position: absolute;
	clear: both;
}
.FrontNews_list01-d1_c1_01 .scrollable_vertical .scrollitems {
	height: 20000px;
	position: absolute;
	clear: both;
}
.FrontNews_list01-d1_c1_01 .content1{
	width:575px;
	float:left;
}
.FrontNews_list01-d1_c1_01 .scrollliner 
	{position:static;}
.FrontNews_list01-d1_c1_01 .scrollliner .scrollitems
	{position:static;}