@charset "utf-8";
/** 全局样式 **/
.FrontNews_list01-d4_c1 {
	width:579px;
	margin:0 auto;
	clear:both;
	text-align:left;
	overflow:hidden;
	
}

.jjfa .FrontNews_list01-d4_c1 {
	width:579px;
	margin:0 auto;
	clear:both;
	text-align:left;
	overflow:hidden;
	 border:#e2e2e2 solid 1px;
}
.FrontNews_list01-d4_c1 .content {	
	float:left;
	overflow:hidden;
}
.FrontNews_list01-d4_c1 .more {
	width:100%;
	text-align:right;
	overflow:hidden;
}
/* 链接样式 */

.FrontNews_list01-d4_c1 a:link {
	/* color:#0066cc;
	text-decoration:none; */
}
.FrontNews_list01-d4_c1 a:visited {
	/* color:#0066cc;
	text-decoration:none; */
}
.FrontNews_list01-d4_c1 a:hover {
	/* color:#0066cc;
	text-decoration:underline; */
}
.FrontNews_list01-d4_c1 a:active {
	/*color:#06c;*/
}

/** 内容样式 **/

/** 标题区域 **/
.FrontNews_list01-d4_c1 .newstitle {
	width:100%;
	overflow:hidden;
}
.FrontNews_list01-d4_c1 .newstitle li h3 {
	display:inline;
	color:#000;
	font-size:12px;
	font-weight:bold;
	padding-left:12px;
	background:url(/images/news/icon-09.gif) 0 4px no-repeat;
	background:url(/images/news/icon-09.gif) 0 2px no-repeat\9;
}
.FrontNews_list01-d4_c1 .newstitle li span {
	color:#999;
}
.FrontNews_list01-d4_c1 .newstitle li em {
	font-style:normal;
}
.FrontNews_list01-d4_c1 .newstitle .title{
	width:100%;
}
.FrontNews_list01-d4_c1 .newstitle .fontnews {
	float:left;
	text-align:right;
	width:70px;
	color:#A15971;
}
.FrontNews_list01-d4_c1 .newstitle .fontnews a,.FrontNews_list01-d4_c1 .newstitle .fontnews a:hover {
	color:#A15971;
}
.FrontNews_list01-d4_c1 .newstitle .author {
}
.FrontNews_list01-d4_c1 .newstitle .comment {
	padding-left:20px;
	background:url(/images/news/icon-04.gif) 0 0px no-repeat;
	background:url(/images/news/icon-04.gif) 0 4px no-repeat\9;
	clear:both;
}
.FrontNews_list01-d4_c1 .newstitle .linkarea {

}
/** 内容列表区域 **/
.FrontNews_list01-d4_c1 .newslist{
}
/**凸显列表样式**/
.FrontNews_list01-d4_c1 .newslist-01  .content {	
	margin-bottom:10px;
	*margin-bottom:8px;
	/**float:none;*/
	*display:inline;
	*zoom:1;
}
.FrontNews_list01-d4_c1 .newslist-01 .title{
	width:229px;
	text-align:center;
}
.FrontNews_list01-d4_c1 .newslist-02 .title{
	float:left;
	width:159px;
}
.FrontNews_list01-d4_c1 .newslist-01 .newstitle li h3{
	background:none;
	padding:0px;
}
.FrontNews_list01-d4_c1 .newslist-01 .newstitle li h3 a{
	_height:20px;
}
/**图片区域**/
.FrontNews_list01-d4_c1 .content .pic {
	/*float:left;*/	
        width:149px; /*根据图片大小调整*/
	 margin:13px 0 0 15px;
	  float:left;
}
.FrontNews_list01-d4_c1 .content .pic a {
	/*float:left;*/
	padding:2px;
	
}
.FrontNews_list01-d4_c1 .content .pic a:hover{
	
	background:#fff4ce;
}
.FrontNews_list01-d4_c1 .content .pic img{
	height:114px;
        width:149px;
	 border:5px #d3d3d3 solid;
}
.FrontNews_list01-d4_c1 .newslist .summary {
}
.FrontNews_list01-d4_c1 .newslist .summary h3 {
	font-size:12px;
	font-weight:bold;
	line-height:22px;
}
.FrontNews_list01-d4_c1 .newslist .summary p {
	line-height:20px;
}
.FrontNews_list01-d4_c1 .newslist .summary a {
	margin-left:5px;
}
/**分割线**/
.FrontNews_list01-d4_c1 .showLine {
	float:left;
	height:10px;
	width:100%;
	border:0;
	background:url(/images/news/line-01.gif) 0 50% repeat-x;
}
.FrontNews_list01-d4_c1 .comstyle{
	width:100%;
	overflow:hidden;
}
.FrontNews_list01-d4_c1 .clearBoth{
	font-size:0px;
	line-height:0px;
	height:0px;
	border:0px;
}

/* -----滚动样式----------------------------------------------------------------------- */
	/* navigation */
.FrontNews_list01-d4_c1 .scrollnavi {
	width: 254px;
	height: 20px;
}

.FrontNews_list01-d4_c1 .scrollnavi a {
	width: 8px;
	height: 8px;
	float: left;
	margin: 3px;
	background: url(/images/news/navigator.png) 0 0 no-repeat;
	display: block;
	font-size: 1px;
}

.FrontNews_list01-d4_c1 .scrollnavi a:hover {
	background-position: 0 -8px;
}

.FrontNews_list01-d4_c1 .scrollnavi a.active {
	background-position: 0 -16px;
}

/* buttons */
.FrontNews_list01-d4_c1 a.scrollbrowse {
	background: url(/images/news/hori_large.png) no-repeat;
	display: block;
	width: 30px;
	height: 30px;
	margin: 40px 10px;
	cursor: pointer;
	font-size: 1px;
}

.FrontNews_list01-d4_c1 a.scrollright {
	background-position: 0 -30px;
	margin-right: 0px;
	float:left;
}

.FrontNews_list01-d4_c1 a.scrollright:hover {
	background-position: -30px -30px;
}

.FrontNews_list01-d4_c1 a.scrollright:active {
	background-position: -60px -30px;
}

.FrontNews_list01-d4_c1 a.scrollleft {
	margin-left: 0px;
	float:left;
}

.FrontNews_list01-d4_c1 a.scrollleft:hover {
	background-position: -30px 0;
}

.FrontNews_list01-d4_c1 a.scrollleft:active {
	background-position: -60px 0;
}

.FrontNews_list01-d4_c1 a.scrollup,.FrontNews_list01-d4_c1 a.scrolldown {
	background: url(/images/news/vert_large.png) no-repeat;
	float: none;
	margin: 10px 50px;
}

.FrontNews_list01-d4_c1 a.scrollup:hover {
	background-position: -30px 0;
}

.FrontNews_list01-d4_c1 a.scrollup:active {
	background-position: -60px 0;
}

.FrontNews_list01-d4_c1 a.scrolldown {
	background-position: 0 -30px;
	clear:both;
	float:left;
}

.FrontNews_list01-d4_c1 a.scrolldown:hover {
	background-position: -30px -30px;
}

.FrontNews_list01-d4_c1 a.scrolldown:active {
	background-position: -60px -30px;
}

.FrontNews_list01-d4_c1 .scrollable {
	position: relative;
	overflow: hidden;
	float:left;
	/**width: 410px;**/
	height: 120px;
	width:254px;
}

.FrontNews_list01-d4_c1 .scrollitems {
	width: 20000px;
	position: absolute;
	clear: both;
}

.FrontNews_list01-d4_c1 .scrollable_vertical {
	position: relative;
	overflow: hidden;
	width: 254px;
	height: 120px;
}

.FrontNews_list01-d4_c1 .scrollitems_vertical {
	height: 20000px;
	position: absolute;
	clear: both;
}
.FrontNews_list01-d4_c1 .scrollable_vertical .scrollitems {
	height: 20000px;
	position: absolute;
	clear: both;
}
.FrontNews_list01-d4_c1 .content1{
	width:254px;
	float:left;
}
.FrontNews_list01-d4_c1 .scrollliner 
	{position:static;}
.FrontNews_list01-d4_c1 .scrollliner .scrollitems
	{position:static;}