@charset "utf-8";
.FrontNews_list01-d2_c2{
   text-align: left;
    margin: 0px auto;
    clear: both;
    overflow: hidden;
}
.jjfa .FrontNews_list01-d2_c2{
   text-align: left;
    margin: 0px auto;
    clear: both;
    overflow: hidden;
}
.FrontNews_list01-d2_c2 .content{
   margin-bottom: 10px;
    float: left;
    overflow: hidden;
}
#FrontNews_list01-1373275566025 .FrontNews_list01-d2_c2 .content{
   margin-top: 12px;
    margin-bottom: 10px;
    float: left;
    height: 155px;
    overflow: hidden;
}
.FrontNews_list01-d2_c2 .more{
   text-align: right;
    width: 100%;
    overflow: hidden;
}
.FrontNews_list01-d2_c2 .content .main{
   display: table;
}
#elem-FrontNews_list01-4009871321 .FrontNews_list01-d2_c2 .newslist-01 .content .main .title A{
   font-size: 12px;
}
#elem-FrontNews_list01-4009871321 .FrontNews_list01-d2_c2 .newslist-02 .content .main{
   width: 100%;
    display: table;
}
#elem-FrontNews_list01-4009871321 .FrontNews_list01-d2_c2 .newslist-02 .content .main .date{
   display: inline;
    float: right;
    color: #666;
}
#elem-FrontNews_list01-4009871321 .FrontNews_list01-d2_c2 .newslist-02 .content .main .title{
   display: inline;
    background: url(/images/dian.jpg) no-repeat left 50%;
    float: left;
}
#elem-FrontNews_list01-4009871321 .FrontNews_list01-d2_c2 .newslist-02 .content{
   border-bottom: #cccccc 1px dashed;
    margin-left: 12px;
}
#elem-FrontNews_list01-4009871321 .newslist-01 .pic{
   border-bottom: medium none;
    border-left: medium none;
    margin-top: 10px;
    width: 145px;
    float: left;
    margin-left: 15px;
    border-top: medium none;
    border-right: medium none;
}
#elem-FrontNews_list01-4009871321 .newslist-01 .pic IMG{
   border-bottom: medium none;
    border-left: medium none;
    border-top: medium none;
    border-right: medium none;
}
#elem-FrontNews_list01-4009871321 .newslist-01 .main{
   margin-top: 10px;
    width: 210px;
    float: right;
    margin-right: 20px;
    _width: 190px;
}
#elem-FrontNews_list01-4009871321 .newslist-01 .main .title H3{
   text-align: left;
    color: #676767;
    font-weight: bold;
}
#elem-FrontNews_list01-4009871321 .newslist-01 .main .title H3 A{
   color: #676767;
    font-weight: bold;
    text-decoration: none;
}
#elem-FrontNews_list01-4009871321 .newslist-01 .main .newslist{
   margin-left: 13px;
    _margin-left: 6px;
}
#elem-FrontNews_list01-4009871321 .newslist-01 .main .newslist P{
   color: #676767;
}
#elem-FrontNews_list01-4009871321 .newslist-01 .main .newslist P A{
   color: #0593db;
    text-decoration: none;
}
#elem-FrontNews_list01-4009871321 .newslist-02 .title{
   width: 260px;
    float: left;
}
#elem-FrontNews_list01-4009871321 .newslist-02 .main{
   width: 353px;
    background: url(/images/dian.jpg) no-repeat left 50%;
    margin-left: 8px;
}
#elem-FrontNews_list01-4009871321 .newslist-02 .date{
   float: right;
    margin-right: 10px;
}
#elem-FrontNews_list01-4009871321 .newslist-02 .date SPAN{
   display: none;
}
#elem-FrontNews_list01-4009871321 .newslist-02 H3{
   text-decoration: none;
}
#elem-FrontNews_list01-4009871321 .newslist-02 H3 A{
   color: #666666;
    text-decoration: none;
}
#elem-FrontNews_list01-4009871321 .newslist-02 .content{
   border-bottom: #cccccc 1px dashed;
    width: 365px;
    margin-left: 12px;
}
#FrontNews_list01-92791441117 .FrontNews_list01-d2_c2 .newslist-01 .content .main .title A{
   font-size: 12px;
}
#FrontNews_list01-92791441117 .FrontNews_list01-d2_c2 .newslist-02 .content .main{
   width: 100%;
    display: table;
}
#FrontNews_list01-92791441117 .FrontNews_list01-d2_c2 .newslist-02 .content .main .date{
   display: inline;
    float: right;
}
#FrontNews_list01-92791441117 .FrontNews_list01-d2_c2 .newslist-02 .content .main .title{
   display: inline;
    background: url(/images/dian.jpg) no-repeat left 50%;
    float: left;
}
#FrontNews_list01-92791441117 .FrontNews_list01-d2_c2 .newslist-02 .content{
   border-bottom: #cccccc 1px dashed;
    margin-left: 12px;
}
#FrontNews_list01-92791441117 .newslist-01 .pic{
   border-bottom: medium none;
    border-left: medium none;
    margin-top: 10px;
    width: 145px;
    float: left;
    margin-left: 15px;
    border-top: medium none;
    border-right: medium none;
}
#FrontNews_list01-92791441117 .newslist-01 .pic IMG{
   border-bottom: medium none;
    border-left: medium none;
    border-top: medium none;
    border-right: medium none;
}
#FrontNews_list01-92791441117 .newslist-01 .main{
   margin-top: 10px;
    width: 210px;
    float: right;
    margin-right: 20px;
}
#FrontNews_list01-92791441117 .newslist-01 .main .title H3{
   text-align: left;
    color: #676767;
    font-weight: bold;
}
#FrontNews_list01-92791441117 .newslist-01 .main .title H3 A{
   color: #676767;
    font-weight: bold;
    text-decoration: none;
}
#FrontNews_list01-92791441117 .newslist-01 .main .newslist{
   margin-left: 13px;
}
#FrontNews_list01-92791441117 .newslist-01 .main .newslist P{
   color: #676767;
}
#FrontNews_list01-92791441117 .newslist-01 .main .newslist P A{
   color: #0593db;
    text-decoration: none;
}
#FrontNews_list01-92791441117 .newslist-02 .title{
   width: 185px;
    float: left;
}
#FrontNews_list01-92791441117 .newslist-02 .main{
   width: 353px;
    background: url(/images/dian.jpg) no-repeat left 50%;
    margin-left: 8px;
    _width: 240px;
}
#FrontNews_list01-92791441117 .newslist-02 .date{
   float: right;
}
#FrontNews_list01-92791441117 .newslist-02 .date SPAN{
   display: none;
}
#FrontNews_list01-92791441117 .newslist-02 H3{
   text-decoration: none;
}
#FrontNews_list01-92791441117 .newslist-02 H3 A{
   color: #666666;
    text-decoration: none;
}
#FrontNews_list01-92791441117 .newslist-02 .content{
   border-bottom: #cccccc 1px dashed;
    width: 365px;
    margin-left: 12px;
    _width: 250px;
}
#FrontNews_list01-1373275566025 .newslist-02 .main H3{
   font-weight: normal;
}
#FrontNews_list01-1373275566025 .newslist-02 .main H3 A{
   color: #787878;
    font-weight: normal;
}
#FrontNews_list01-1373275566025 .newslist-02 .main .date SPAN{
   display: none;
}
.FrontNews_list01-d2_c2 .clearBoth{
   border-bottom: 0px;
    border-left: 0px;
    line-height: 0px;
    height: 0px;
    font-size: 0px;
    border-top: 0px;
    border-right: 0px;
}
.FrontNews_list01-d2_c2 A:link{
}
.FrontNews_list01-d2_c2 A:visited{
}
.FrontNews_list01-d2_c2 A:hover{
}
.FrontNews_list01-d2_c2 A:active{
}
.FrontNews_list01-d2_c1 .newstitle{
   word-wrap: break-word;
}
.FrontNews_list01-d2_c2 .newstitle LI H3{
   padding-left: 12px;
    display: inline;
    color: #666666;
    font-size: 12px;
    font-weight: normal;
}
.FrontNews_list01-d2_c2 .newstitle LI SPAN{
   color: #999;
}
.FrontNews_list01-d2_c2 .newstitle LI EM{
   font-style: normal;
}
.FrontNews_list01-d2_c2 .newstitle .fontnews A{
   color: #06c;
}
.FrontNews_list01-d2_c2 .newstitle .author{
}
.FrontNews_list01-d2_c2 .newstitle .comment{
   padding-left: 20px;
    background: url(/images/dian.jpg) no-repeat;
}
.FrontNews_list01-d2_c2 .newstitle .linkarea{
}
.FrontNews_list01-d2_c2 .newslist{
   word-wrap: break-word;
}
#elem-FrontNews_list01-1373275566025 .newslist P{
   line-height: 23px;
    color: #777777;
    margin-left: 13px;
}
#elem-FrontNews_list01-1373275566025 .newslist P A{
   color: #0095e1;
    text-decoration: none;
}
#FrontNews_list01-1373278091621 .FrontNews_list01-d2_c2 .content .pic{
   margin: 12px 0px 0px 15px;
    width: 146px;
    float: left;
    height: 97px;
}
#FrontNews_list01-1373278091621 .FrontNews_list01-d2_c2 .content .main{
   float: left;
}
#FrontNews_list01-1373278091621 .FrontNews_list01-d2_c2 .content .pic IMG{
   border-bottom: medium none;
    border-left: medium none;
    width: 146px;
    float: left;
    height: 97px;
    border-top: medium none;
    border-right: medium none;
}
.FrontNews_list01-d2_c2 .content .pic A{
}
.FrontNews_list01-d2_c2 .content .pic A:hover{
}
.FrontNews_list01-d2_c2 .content .pic IMG{
   border-bottom: #d4d4d4 5px solid;
    border-left: #d4d4d4 5px solid;
    width: 149px;
    height: 115px;
    border-top: #d4d4d4 5px solid;
    border-right: #d4d4d4 5px solid;
}
.FrontNews_list01-d2_c2 .newslist .summary{
}
.FrontNews_list01-d2_c2 .newslist .summary H3{
   display: none;
}
.FrontNews_list01-d2_c2 .newslist .summary P{
   line-height: 20px;
}
.FrontNews_list01-d2_c2 .newslist .summary A{
   margin-left: 5px;
}
.FrontNews_list01-d2_c2 .showLine{
   border-bottom: 0px;
    border-left: 0px;
    width: 100%;
    background: url(/images/news/line-01.gif) repeat-x 0px 50%;
    float: left;
    height: 10px;
    border-top: 0px;
    border-right: 0px;
}
#FrontNews_list01-1373275566025 .FrontNews_list01-d2_c2 .comstyle{
   width: 100%;
    height: 155px;
    overflow: hidden;
}
.FrontNews_list01-d2_c2 .comstyle{
   width: 100%;
    overflow: hidden;
}
#FrontNews_list01-1373275566025 .pic{
   margin-top: 12px;
    width: 165px;
    float: left;
    margin-left: 15px;
}
#FrontNews_list01-1373275566025 .main H3{
   margin-top: 12px;
    color: #606060;
    font-weight: bold;
}
#FrontNews_list01-1373275566025 .main H3 A{
   color: #606060;
    text-decoration: none;
}
#FrontNews_list01-1373275566025 .newslist-01 .main{
   margin-top: 12px;
    width: 366px;
    height: 122px;
    _width: 360px;
}
.FrontNews_list01-d2_c2 .scrollnavi{
   width: 200px;
    height: 20px;
}
.FrontNews_list01-d2_c2 .scrollnavi A{
   margin: 3px;
    width: 8px;
    display: block;
    background: url(/images/news/navigator.png) no-repeat 0px 0px;
    float: left;
    height: 8px;
    font-size: 1px;
}
.FrontNews_list01-d2_c2 .scrollnavi A:hover{
   background-position: 0px -8px;
}
.FrontNews_list01-d2_c2 .scrollnavi A.active{
   background-position: 0px -16px;
}
.FrontNews_list01-d2_c2 A.scrollbrowse{
   margin: 40px 10px;
    width: 30px;
    display: block;
    background: url(/images/news/hori_large.png) no-repeat;
    height: 30px;
    font-size: 1px;
    cursor: pointer;
}
.FrontNews_list01-d2_c2 A.scrollright{
   background-position: 0px -30px;
    float: left;
    margin-right: 0px;
}
.FrontNews_list01-d2_c2 A.scrollright:hover{
   background-position: -30px -30px;
}
.FrontNews_list01-d2_c2 A.scrollright:active{
   background-position: -60px -30px;
}
.FrontNews_list01-d2_c2 A.scrollleft{
   float: left;
    margin-left: 0px;
}
.FrontNews_list01-d2_c2 A.scrollleft:hover{
   background-position: -30px 0px;
}
.FrontNews_list01-d2_c2 A.scrollleft:active{
   background-position: -60px 0px;
}
.FrontNews_list01-d2_c2 A.scrollup{
   margin: 10px 50px;
    background: url(/images/news/vert_large.png) no-repeat;
    float: none;
}
.FrontNews_list01-d2_c2 A.scrolldown{
   margin: 10px 50px;
    background: url(/images/news/vert_large.png) no-repeat;
    float: none;
}
.FrontNews_list01-d2_c2 A.scrollup:hover{
   background-position: -30px 0px;
}
.FrontNews_list01-d2_c2 A.scrollup:active{
   background-position: -60px 0px;
}
.FrontNews_list01-d2_c2 A.scrolldown{
   background-position: 0px -30px;
    float: left;
    clear: both;
}
.FrontNews_list01-d2_c2 A.scrolldown:hover{
   background-position: -30px -30px;
}
.FrontNews_list01-d2_c2 A.scrolldown:active{
   background-position: -60px -30px;
}
.FrontNews_list01-d2_c2 .scrollable{
   position: relative;
    width: 100%;
    float: left;
    height: 120px;
    overflow: hidden;
}
.FrontNews_list01-d2_c2 .scrollitems{
   position: absolute;
    width: 20000px;
    clear: both;
}
.FrontNews_list01-d2_c2 .scrollable_vertical{
   position: relative;
    width: 100%;
    height: 120px;
    overflow: hidden;
}
.FrontNews_list01-d2_c2 .scrollitems_vertical{
   position: absolute;
    height: 20000px;
    clear: both;
}
.FrontNews_list01-d2_c2 .scrollable_vertical .scrollitems{
   position: absolute;
    height: 20000px;
    clear: both;
}
.FrontNews_list01-d2_c2 .content1{
   width: 254px;
    float: left;
}
.FrontNews_list01-d2_c2 .scrollliner{
   position: static;
}
.FrontNews_list01-d2_c2 .scrollliner .scrollitems{
   position: static;
}
#elem-FrontNews_list01-1373275566025 .FrontNews_list01-d2_c2 .newslist-01 .content .main .title A{
   font-size: 12px;
}
#elem-FrontNews_list01-1373275566025 .FrontNews_list01-d2_c2 .newslist-02 .content .main{
   width: 100%;
    display: table;
}
#elem-FrontNews_list01-1373275566025 .FrontNews_list01-d2_c2 .newslist-02 .content .main .date{
   display: inline;
    float: right;
}
#elem-FrontNews_list01-1373275566025 .FrontNews_list01-d2_c2 .newslist-02 .content .main .title{
   display: inline;
    background: url(/images/dian.jpg) no-repeat left 50%;
    float: left;
}
#elem-FrontNews_list01-1373275566025 .FrontNews_list01-d2_c2 .newslist-02 .content{
   border-bottom: #cccccc 1px dashed;
    margin-left: 12px;
    _width: 258px;
}
